<a href="https://colab.research.google.com/github/Arjun-R-krishnan/DSML_PYTHON_TASKS/blob/main/DSML_TASK2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#TASK 2.1
##Write a Python program to sum all the items in a list

In [ ]:
list1=[1,2,5,8,10,20]
sum=0
for i in list1:
    sum+=int(i)
print(f"the sum of the list is {sum}")

the sum of the list is 46

#TASK 2.2
##Write a Python program to get the largest number from a lis

In [ ]:
list2=[1,4,6,8,3,7]
largest_number=0
for num in list2:
    if num > largest_number:
        largest_number = num
print("The largest number in the list is:", largest_number)

The largest number in the list is: 8

#TASK 2.3
##Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.

In [ ]:
list_of_str=["aba","898","cool","mango","ono","67545","ekke"]
b=0
for i in list_of_str:
    if(len(i)>=2) and (i[0]==i[-1]):
        b+=1
print(f"the number of string are: {b}")

the number of string are: 4

#TASK 2.4
##Write a Python program to remove duplicates from a list

In [ ]:
my_list1=[1,100,8,9,5,8,2,5,2,8,23,76,5]
my_list2=[]
for i in set(my_list1):
  my_list2.append(i)
print(my_list2)

[1, 2, 100, 5, 8, 9, 76, 23]

#TASK 2.5
##Write a Python program to check if a list is empty or not

In [ ]:
list5=[]
if len(list5)==0:
    print(" the list is empty")
else:
    print("the list is not empty")

 the list is empty

#TASK 2.6
##Write a Python program to filter the list if the length of the character is < 4

In [ ]:
list_of_strgs=["car","bike","hai","1234","bus","house"]
for i in list_of_strgs:
    if(len(i)>3):
        list_of_strgs.remove(i)
print(list_of_strgs)

['car', 'hai', 'bus']

#TASK 2.7
#Write a Python program to find the second largest number in a list

In [ ]:
list6=[1,7,4,9,11,3,6,8]
list6.sort(reverse=True)
print(f"the second largest number is {list6[1]}")

the second largest number is 9

#TASK 2.8
#Write a Python program to reverse a list at a specific location

In [ ]:
my_list3 = [1, 2, 3, 4, 5,6,7,8,9,10]
start = 2
end = 6
for i in range((end - start) // 2):
  my_list3[start + i], my_list3[end - i ] = my_list3[end - i ], my_list3[start + i]

print(my_list3)

[1, 2, 7, 6, 5, 4, 3, 8, 9, 10]

#TASK 2.9
##Write a Python program to check if a list is a palindrome or not. Return true otherwise false

In [ ]:
my_list4 = [1,2,3,2,1]
palindrome = False
if my_list4[::-1]==my_list4:
    palindrome=True
print(palindrome)

True

#TASK 2.10
##Write a Python a program to find the union and intersection of two lists

In [ ]:
a=[1,3,5,7,9,20]
b=[2,4,6,8,10,20]
intersection_of_list=[]
union_of_lists=a+b
intersection_ab=(set(a)&set(b))
for i in intersection_ab:
  intersection_of_list.append(i)

print(f"union of the lists:{union_of_lists}")
print(f"intersection of the lists:{intersection_of_list}")

union of the lists:[1, 3, 5, 7, 9, 20, 2, 4, 6, 8, 10, 20]
intersection of the lists:[20]

#TASK 2.12
##Write a Python script to check whether a given key already exists in a dictionary

In [ ]:
my_list5={"car":4,"bike":2,"bus":6,"train":100,"truck":8,"cycle":1}
key_value=input("enter the key:")
if key_value in my_list5.keys():
    print("the enetered key is in the list")
else:
    print("the enetered key is not in the list")

enter the key:car
the enetered key is in the list

#TASK 2.13
##Write a Python program to sum all the values in a dictionary

In [23]:
my_list6={"car":4,"bike":2,"bus":6,"train":100,"truck":8,"cycle":1}
sum_of_values=0
for i in my_list6.values():
    sum_of_values+=i
print(sum_of_values)

121

#TASK 2.14
##Write a Python program to create a dictionary with a number and its corresponding square from 1 to input number. And also check if the input number is less than 10

In [ ]:
number=int(input("enter the number:"))
if number<=10:
    number={i:i*i for i in range(number+1) }
    print(number)
else:
    print(" the entered number is greater than 10")

enter the number:7
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

#TASK 2.16
#Write a Python program to create a dictionary from a string

In [ ]:
word=input("enter the word: ")
dict1={}
for i in word:
    if i in dict1:
        dict1[i]+=1
    else:
        dict1[i]=1
print(dict1)

enter the word: Schools
{'S': 1, 'c': 1, 'h': 1, 'o': 2, 'l': 1, 's': 1}