<a href="https://colab.research.google.com/github/Arjun-R-krishnan/DSML_PYTHON_TASKS/blob/main/map_reduce_filter_lambda(task_4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#TASK 4.1
Write a program to create a function show_employee() using the following conditions.
It should accept the employeeâ€™s name and salary and display both.
If the salary is missing in the function call then assign default value 9000 to salary

In [ ]:
def employee_name(name,salary=9000):
    print(name,salary)
employee_name("arjun",1200)
employee_name("ammu")

arjun 1200
ammu 9000

#TASK 4.2
Create an inner function to calculate the addition in the following way
Create an outer function that will accept two parameters, a and b
Create an inner function inside an outer function that will calculate the addition of a and b
At last, an outer function will add 5 into addition and return it

In [ ]:
def my_func(a,b):
    def my_func2(a,b):
        return a+b
    return my_func2(a,b)+5

a=int(input("enter the first number:"))
b=int(input("enter the second number:"))

result=my_func(a,b)
print(f"the final result is {result}")

enter the first number:6
enter the second number:8
the final result is 19

#TASK 4.3
Generate a Python list of all the even numbers between 4 to 30

In [ ]:

mylist=[i for i in range(3,41) if i%2==0]
print(mylist)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

#TASK 4.4
Lambda Function to Check if value is in a List

In [ ]:
mylist=[1,2,3,4,5,6]
def check_element(mylist,n):
    result=list(filter(lambda x:x==n,mylist))
    if result:
        print("Element is Present in the list")
    else:
        print("Element is  not Present in the list")

check_element(mylist,2)
check_element(mylist,9)

Element is Present in the list
Element is  not Present in the list

#TASK 4.5
Sort the points based on their sum of elements in the tuples

In [ ]:
my_tuple=[(1, 2), (5, 3), (0, 7), (3, 1)]
my_tuple.sort(key=lambda x:x[0]+x[1])
print(my_tuple)

[(1, 2), (3, 1), (0, 7), (5, 3)]

#TASK 4.6
Write a python function, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. Return the results as a list

In [ ]:
l=[]
def even_digits(start_num,end_num):
    for i in range(start_num,(end_num+1)):
        stri=str(i)
        if len(stri)==4 and int(stri[0])%2==0 and int(stri[1])%2==0 and int(stri[2])%2==0 and int(stri[3])%2==0:
            l.append(stri)
    return l

print(even_digits(1000,3000))

['2000', '2002', '2004', '2006', '2008', '2020', '2022', '2024', '2026', '2028', '2040', '2042', '2044', '2046', '2048', '2060', '2062', '2064', '2066', '2068', '2080', '2082', '2084', '2086', '2088', '2200', '2202', '2204', '2206', '2208', '2220', '2222', '2224', '2226', '2228', '2240', '2242', '2244', '2246', '2248', '2260', '2262', '2264', '2266', '2268', '2280', '2282', '2284', '2286', '2288', '2400', '2402', '2404', '2406', '2408', '2420', '2422', '2424', '2426', '2428', '2440', '2442', '2444', '2446', '2448', '2460', '2462', '2464', '2466', '2468', '2480', '2482', '2484', '2486', '2488', '2600', '2602', '2604', '2606', '2608', '2620', '2622', '2624', '2626', '2628', '2640', '2642', '2644', '2646', '2648', '2660', '2662', '2664', '2666', '2668', '2680', '2682', '2684', '2686', '2688', '2800', '2802', '2804', '2806', '2808', '2820', '2822', '2824', '2826', '2828', '2840', '2842', '2844', '2846', '2848', '2860', '2862', '2864', '2866', '2868', '2880', '2882', '2884', '2886', '2888']

#TASK 4.7
Write a python function that accepts a sentence and calculate and return the number of letters and digits.

In [17]:
sentance=input("enter the sentance")
def letter_number_count(sentance):
    letter_count=0
    number_count=0
    for i in sentance:
        if i.isalpha():
            letter_count+=1
        elif i.isnumeric():
            number_count+=1
    print(f"LETTERS={letter_count}\nNUMBERS={number_count}")


letter_number_count(sentance)

enter the sentancehelloworld56
LETTERS=10
NUMBERS=2

#TASK 4.8
Write a Python program to convert all the characters into uppercase and lowercase and eliminate duplicate letters from a given sequence. Use the map() function

In [16]:
mylist=["P","y","T","h","O","N","p","R","o","g","r","A","m","M","I","n","g"]
upper_case=list(map(lambda x:x.upper(),mylist))
lower_case=list(map(lambda x:x.lower(),mylist))
unique_list=list(filter(lambda x:mylist.count(x)==1,mylist))
print(f"upper case:{upper_case}")
print(f"lower case:{lower_case}")
print(f"duplicates removed:{unique_list}")

upper case:['P', 'Y', 'T', 'H', 'O', 'N', 'P', 'R', 'O', 'G', 'R', 'A', 'M', 'M', 'I', 'N', 'G']
lower case:['p', 'y', 't', 'h', 'o', 'n', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g']
duplicates removed:['P', 'y', 'T', 'h', 'O', 'N', 'p', 'R', 'o', 'r', 'A', 'm', 'M', 'I', 'n']

#TASK 4.9
 Write a Python program to element wise add two given lists and find the difference between them. Use the map() function

In [15]:
list1=[5,6,7,8,9]
list2=[1,2,3,4,5]
def sum_dif(list1,list2):
    sum_list=list(map(lambda x,y:x+y,list1,list2))
    dif_list=list(map(lambda x,y:x-y,list1,list2))
    return sum_list,dif_list
sum_result,dif_result=sum_dif(list1,list2)
print(sum_result)
print(dif_result)

[6, 8, 10, 12, 14]
[4, 4, 4, 4, 4]

#TASK 4.10
Write a Python program to filter the height and weight of students, which are stored in a dictionary using lambda.

In [14]:
my_dict={'Cierra Vega': (6.2, 71), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}
filtered_dict=dict((filter(lambda x:x[1][0]>6 and x[1][1]>70,my_dict.items())))
print(filtered_dict)

{'Cierra Vega': (6.2, 71)}

#TASK 4.11
Write a Python program to remove all elements from a given list present in another list using lambda

In [13]:
list1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2=[2, 4, 6, 8]
list1=list(filter(lambda x: x not in list2,list1))
print(list1)

[1, 3, 5, 7, 9, 10]

#TASK 4.12
Write a Python program to calculate the product of a given list of numbers using lambda.

In [12]:
from functools import reduce

list1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
product_list=reduce(lambda x,y:x*y,list1)
print("product:",product_list)

product: 3628800

#TASK 4.13
 Write a Python program to multiply all the numbers in a given list using lambda

In [11]:
from functools import reduce


list2=[4, 3, 2, 2, -1, 18]
mul_list=reduce(lambda x,y:x*y,list2)
print("multiplied list:",mul_list)

multiplied list: -864

#TASK 4.14
Write a Python program to calculate the average value of the numbers in a given tuple of tuples using lambda.

In [10]:
from functools import reduce


numbers_tuple = ((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))
sum_tuples = reduce(lambda x, y: tuple(map(sum, zip(x, y))), numbers_tuple)
average_tuple = tuple(map(lambda x: x / len(numbers_tuple), sum_tuples))
print(average_tuple)

(30.5, 34.25, 27.0)

#TASK 4.15
Write a Python program to sort a given mixed list of integers and strings using lambda. Numbers must be sorted before strings

In [9]:
mixed_list = [19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]

mixed_list.sort(key=lambda x: (isinstance(x, str), x))
print(mixed_list)

[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

#TASK 4.16
Write a Python program to count the occurrences of items in a given list using lambda.

In [8]:
my_list =[3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]


occurrences = dict(map(lambda x: (x, my_list.count(x)), my_list))

print(occurrences)

{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

#TASK 4.17
Write a Python program to remove None values from a given list using the lambda function.

In [7]:
mylist=[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]

mylist=(list(filter(lambda x: x !=None,mylist)))
print(mylist)

[12, 0, 23, -55, 234, 89, 0, 6, -12]