<a href="https://colab.research.google.com/github/Arjun-R-krishnan/DSML_PYTHON_TASKS/blob/main/python_fundamentals(task_3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Exercise 1  
Write Python code that prints your name, student number and email address

In [1]:
print("NAME:ARJUN R")
print("STUDENT NUMBER:11")
print("EMAI:Larjunrarjun7@gmail.com")

NAME:ARJUN R
STUDENT NUMBER:11
EMAI:Larjunrarjun7@gmail.com

#Exercise 2  
Write Python code that prints your name, student number and email address using escape sequences

In [2]:
print("NAME:ARJUN R\nSTUDENT NUMBER:11\nEMAI:Larjunrarjun7@gmail.com")

NAME:ARJUN R
STUDENT NUMBER:11
EMAI:Larjunrarjun7@gmail.com

#Exercise 3
Write Python code that add, subtract, multiply and divide the two numbers. You can use the two numbers 14 and 7

In [3]:
num1=14
num2=7
print(num1,"+",num2,"=",num1+num2)
print(num1,"-",num2,"=",num1-num2)
print(num1,"*",num2,"=",num1*num2)
print(num1,"/",num2,"=",num1/num2)

14 + 7 = 21
14 - 7 = 7
14 * 7 = 98
14 / 7 = 2.0

#Exercise 4
Write Python code that displays the numbers from 1 to 5 as steps

In [4]:
for i in range(1,6):
    print(i)

1
2
3
4
5

#Exercise 5
Write Python code that outputs the following sentence (including the quotation marks and line break) to the screen

In [5]:
print('''"SDK" stands for "Software Development Kit", whereas \n"IDE" stands for "Integrated Development Environment"''')

"SDK" stands for "Software Development Kit", whereas
"IDE" stands for "Integrated Development Environment"

#Exercise 6
Practice and check the output

In [6]:
print("python is an \"awesome\" language.")
print("python\n\t2023")
print('I\'m from Entri.\b')
print("\65")
print("\x65")
print("Entri", "2023", sep="\n")
print("Entri", "2023", sep="\b")
print("Entri", "2023", sep="*", end="\b\b\b\b")

python is an "awesome" language.
python
	2023
I'm from Entri.
5
e
Entri
2023
Entri2023
Entri*2023

#Exercise 7
Define the variables below. Print the types of each variable. What is the sum of your variables? (Hint: use a type conversion function.) What datatype is the sum?

In [8]:
num=23
textnum="57"
decimal=98.3
print(type(num))
print(type(textnum))
print(type(decimal))
sum=(num+int(textnum)+decimal)
print(type(sum))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'float'>

#Exercise 8
calculate the number of minutes in a year using variables for each unit of time. print a statement that describes what your code does also. Create three variables to store no of days in a year, minute in a hour, hours in a day, then calculate the total minutes in a year and print the values

In [9]:
minutes_in_an_hour=60
hours_in_a_day=24
days_in_a_year=365
minutes_in_an_year=minutes_in_an_hour*hours_in_a_day*days_in_a_year
print(minutes_in_an_year)
print("THIS CODE SETS 3 VARIABLES FOR ,MINUTES IN AN HOUR,HOURS IN A DAY AND DAYS IN AN YEAR AND MULTIPLICATES IT TO FIND THE TOTAL NO OF MINUTES IN A YEAR")

525600
THIS CODE SETS 3 VARIABLES FOR ,MINUTES IN AN HOUR,HOURS IN A DAY AND DAYS IN AN YEAR AND MULTIPLICATES IT TO FIND THE TOTAL NO OF MINUTES IN A YEAR

#Exercise 9
Write Python code that asks the user to enter his/her name and then output/prints his/her name with a greeting

In [10]:
name=input("enter your name: ")
print(f"HI {name} WELCOME TO PYTHON PROGRAMMING")

enter your name: ARJUN
HI ARJUN WELCOME TO PYTHON PROGRAMMING

#Exercise 10
Name your file: PoundsToDollars.py
Write a program that asks the user to enter an amount in pounds (£) and the program calculates and converts an amount in dollar ($)

In [11]:
pound=int(input("enter the amount in pound"))
dollar=pound*1.36
print(f"{pound} £ is equal to {dollar} $")

enter the amount in pound7
7 £ is equal to 9.520000000000001 $